<div fxLayout="column" class="login-container">
    <div fxFlex>
        <h1>Login</h1>
    </div>
    <mat-form-field fxFlex>
        <input [(ngModel)]="this.email" matInput placeholder="Email" />
    </mat-form-field>
    <mat-form-field fxFlex>
        <input [(ngModel)]="this.password" matInput type="password" placeholder="Password" />
    </mat-form-field>
    <div fxLayout="row center" fxLayoutAlign="center center">
        <div fxFlex class="button-container">
            <button mat-raised-button color="primary" class="login-form-buttons" (click)="login()">Submit</button>
        </div>
        <div fxFlex class="button-container">
            <button mat-raised-button color="primary" class="login-form-buttons" routerLink="/register">Register</button>
        </div>
    </div>
    <br />
    <ngb-alert [type]="this.alertType" *ngIf="this.alertShown" (click)="this.alertShown=false">{{this.errorMessage}}</ngb-alert>
</div>