.removePlayerButton {
    min-width: 0em;
}

.playerItem {
    align-items: right;
    text-align: right;
}

.removePlayerButtonContainer {
    text-align: right;
    margin-left: 10px;
}

.playerNameContainer {
    vertical-align: center;
    align-content: center;
    justify-content: center;
}

li {
    margin: 0.5em 0;
}