<ul class="list-group" dnd-sortable-container [sortableData]="players">
    <div fxLayout="column" fxLayoutWrap fxLayoutAlign="center">
        <li *ngFor="let player of players; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">
            <ft-player [player]=player (playerRemoved)="onPlayerRemove($event)"></ft-player>
        </li>
        <br/>
    </div>
</ul>

<div>
    <input matInput placeholder="Player name" [(ngModel)]="player_name" />

    <button mat-raised-button color="primary" (click)="onAddPlayerClick()">Add player</button>
</div>