<ul class="list-group" dnd-sortable-container [sortableData]="players">
    <div fxLayout="column" fxLayoutWrap fxLayoutAlign="center">
        <li *ngFor="let player of players; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">
            <player [player]=player (playerRemoved)="onPlayerRemove($event)"></player>
        </li>
    </div>
</ul>

<div>
    <input mdInput placeholder="Player name" [(ngModel)]="player_name" />

    <button md-raised-button color="primary" (click)="onAddPlayerClick()">Add player</button>
</div>