/* You can add global styles to this file, and also import other style files */

@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("https://unpkg.com/ng2-dnd@4.1.0/style.css");

html,
body,
.viewport {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
}

.ft-page-header {
    margin-left: 0.5em;
}

.ps > .ps__rail-x,
.ps > .ps__rail-y {
    opacity: 0.6;
}

router-outlet.router-flex + * {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

::ng-deep .mat-form-field .mat-form-field-infix {
    width: auto;
}
