<mat-card>
    <div fxLayout="row">
        <span fxFlex>{{this.model.firstName}} {{this.model.lastName}}</span>
        <div fxFlex fxLayout="row-reverse" fxLayoutAlign="center center">
            <button mat-icon-button fxFlex (click)="onClickClear()">
                <mat-icon color="warn" style="text-align: center">clear</mat-icon>
            </button>

            <button mat-icon-button fxFlex (click)="onClickUp()">
                <mat-icon color="primary" style="text-align: center">arrow_upward</mat-icon>
            </button>
            <button mat-icon-button fxFlex (click)="onClickDown()">
                <mat-icon color="primary">arrow_downward</mat-icon>
            </button>
        </div>
    </div>
</mat-card>