<div fxLayout="column" fxFlex>
    <h3 fxFlex="0 0 auto" fxFlexAlign="center">Connected Field Cones</h3>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div class="field-cone" fxFlex="0 0 auto">CONE #1</div>
        <div class="field-cone" fxFlex="0 0 auto">CONE #1</div>
        <div class="field-cone" fxFlex="0 0 auto">CONE #1</div>
        <div class="field-cone" fxFlex="0 0 auto">CONE #1</div>
        <div class="field-cone" fxFlex="0 0 auto">CONE #1</div>
        <div class="field-cone" fxFlex="0 0 auto">CONE #1</div>
        <div class="field-cone" fxFlex="0 0 auto">CONE #1</div>
        <div class="field-cone" fxFlex="0 0 auto">CONE #1</div>
        <div class="field-cone" fxFlex="0 0 auto">CONE #1</div>
        <div class="field-cone" fxFlex="0 0 auto">CONE #1</div>
        <div class="field-cone" fxFlex="0 0 auto">CONE #1</div>
        <div class="field-cone" fxFlex="0 0 auto">CONE #1</div>
        <div class="field-cone" fxFlex="0 0 auto">CONE #1</div>
        <div class="field-cone" fxFlex="0 0 auto">CONE #1</div>
    </div>
</div>