<div fxLayout="column" fxLayoutAlign="space-between center" fxFlex>
    <div fxFlex fxFlexAlign="center">
        <h1 style="text-align: center">Welcome to Field Trainer</h1>
        <div style="margin-left: 1em; margin-right: 1em;" class="mat-body-1">
            <p>
                Use the nav menu on the left (via menu button) to select an area of the app to explore
            </p>
            <p>Will need to find what else should be added to this page as we progress</p>
        </div>
    </div>
</div>
