<div fxLayout="column" fxFlex style="margin-left: 0.5em; margin-right: 0.5em" class="mat-typography">
    <h1 fxFlex="0 0 auto" fxFlexAlign="center">WiFi Settings</h1>
    <span fxFlex="0 0 auto">
        Setup the WiFi credentials your StartCone will use to update both itself and the FieldCones.
    </span>
    <br />
    <br />
    <div fxFlex="0 0 auto" fxLayout="column">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-around start">
            <mat-form-field>
                <input matInput placeholder="SSID" fxFlex [(ngModel)]="newSsid" />
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password" type="password" fxFlex [(ngModel)]="newPassword" />
            </mat-form-field>
        </div>
        <button fxFlex="0 0 auto" mat-raised-button type="submit" [disabled]="!submitNewWifiValid()" color="primary" (click)="addNewWiFi()">
            Add new WiFi Settings
        </button>
    </div>
</div>
