lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid

pids
logs
results
build

node_modules
*/.vscode/
smart-cone-api/db/field-trainer-db.db
smart-cone-api/db/*.db
.DS_Store

.vscode/

build_output/

__pycache__

.history