.copy-text {
    margin: 1em;
    font-size: 1.25em;
}

p {
    justify-content: center;
    text-align: center;
}

h1 {
    justify-content: center;
    text-align: center;
}

img {
    overflow: hidden;
}
