.copy-text {
    margin: 1em;
    font-size: 1.25em;
}

p {
    justify-content: center;
    text-align: center;
}

h1 {
    justify-content: center;
    text-align: center;
    color: white;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

.background::-webkit-scrollbar {
    display: hidden;
}
