p {
    justify-content: center;
    text-align: center;
}

h1 {
    padding-top: 20px;
    justify-content: center;
    text-align: center;
    color: white;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(50%);
    background-color: rgba(0,0,0,0.25);
  }

.background::-webkit-scrollbar {
    display: hidden;
}
