.copy-text {
    margin: 1em;
    font-size: 1.25em;
}

p {
    justify-content: center;
    text-align: center;
}

h1 {
    justify-content: center;
    text-align: center;
}

img {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-image: url('https://storage.cloud.google.com/field-cone/facilities_Stadium_aerial_lighted_DJI_0215_edited.jpg');
}
