.copy-text {
    margin: 1em;
    font-size: 1.25em;
}

p {
    justify-content: center;
    text-align: center;
}

h1 {
    justify-content: center;
    text-align: center;
    color: white;
}

.background {
    background-image: url('https://storage.cloud.google.com/field-cone/facilities_Stadium_aerial_lighted_DJI_0215_edited.jpg') !important;
    background-size: cover;
    background-position: center center;
    height: 92vh;
    -ms-overflow-style: none;
}

.background::-webkit-scrollbar {
    display: none;
}
