<div fxLayout="column" class="ft-nav-menu-container">
    <h1>Navigation Menu</h1>
    <div>
        <mat-list fxFlex>
            <a mat-list-item routerLink="/home" (click)="close()">Home</a>
            <a mat-list-item routerLink="/register" (click)="close()">Register account</a>
            <a mat-list-item routerLink="/add-team" (click)="close()">Team management</a>
            <a mat-list-item routerLink="/athlete-management" (click)="close()">Athlete management</a>
            <a mat-list-item routerLink="/login" (click)="close()">Login</a>
        </mat-list>
    </div>
</div>