<div fxLayout="column" class="ft-nav-menu-container">
    <h3>Navigation Menu</h3>
    <div>
        <mat-nav-list fxFlex>
            <mat-list-item>
                <mat-icon matListIcon class="material-icons">home</mat-icon>
                <a mat-list-item routerLink="/home" (click)="close()">Home</a>
                <span fxFlex></span>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListIcon class="material-icons">directions_run</mat-icon>
                <a mat-list-item routerLink="/add-team" (click)="close()">Manage Teams</a>
                <span fxFlex></span>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListIcon class="material-icons">people</mat-icon>
                <a mat-list-item routerLink="/athlete-management" (click)="close()">Manage Athletes</a>
                <span fxFlex></span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon matListIcon class="material-icons">input</mat-icon>
                <a mat-list-item routerLink="/login-page" (click)="close()">Login</a>
                <span fxFlex></span>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListIcon class="material-icons">add_box</mat-icon>
                <a mat-list-item routerLink="/register-page" (click)="close()">Register</a>
                <span fxFlex></span>
            </mat-list-item>
        </mat-nav-list>
    </div>
</div>