.removePlayerButtonContainer {
    text-align: right;
    margin-left: 10px;
}

.playerNameContainer {
    vertical-align: center;
    align-content: center;
    justify-content: center;
    font-size: 1.25em;
}

.removePlayerButton {
    min-width: 0em;
}