body {
  padding: 50px;
  background-color: #222222;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1.centered {
	font-size: 64px;
	text-align: center;
	color: #DDDDDD;
}

p.body-content {
	font-size: 32px;
	padding-left: 5%;
	color: #DDDDDD;
}