@media (max-width: 959.98px), (orientation: portrait) {
    mat-toolbar {
        height: 9vh;
    }

    a {
        padding-right: 2vw;
    }

    a,
    #open {
        color: var(--color-primary);
    }

    #close, 
    #sidebar,
    #side {
        display: none;
    }

    div.subs,
    .mat-sidenav-container::-webkit-scrollbar,
    .mat-sidenav-toolbar::-webkit-scrollbar, 
    .blackBox .hoverBox, 
    .hoverBox img, 
    .hoverBox h1, 
    div.hoverBox,
    .hoverBox a, 
    a.top, 
    div.field_cont, 
    .subs .field_cont:hover ~ .blackBox .hoverBox,
    .blackBox:hover .hoverBox, 
    div.subs .field_cont, 
    div.login {
        display: none !important;
    }

    #top,
    #side {
        background-color: var(--color-tertiary);
    }

    #close,
    h1,
    h3 {
        color: var(--color-secondary);
    }

    #open,
    #close,
    #open:active,
    a:hover {
        text-decoration: none;
    }

    #open,
    #close {
        border: none;
        overflow: hidden;
        cursor: pointer;
        outline: none;
        right: 3vw;
    }

    #open {
        position: absolute;
        z-index: 99;
    }

    #sidebar {
        width: 0vw;
        text-align: left;
        margin-left: 7vw;
        flex-wrap: wrap;
    }

    #sidebar,
    .ft-title {
        font-size: 120%;
    }

    #sidebar,
    #close {
        z-index: var(--zindex-override);
    }

    #side,
    #close {
        position: fixed;
    }

    #side {
        visibility: hidden;
        z-index: var(--zindex-override2);
        left: 0vw;
        bottom: 0vh;
        background-color: var(--color-primary);
        width: 100vw;
        height: 100vh;
    }

    #open:active {
        content: none;
    }

    .links {
        display: flex;
    }

    .links,
    #sidebar {
        flex-direction: column;
    }
    
    .mat-sidenav-container,
    .mat-sidenav-content,
    .mat-sidenav-toolbar {
        -ms-overflow-style: none;
    }

    h3 {
        padding-top: 2.5vh;
    }

    .ft-title {
        z-index: var(--zindex-override);
    }
}

@media (min-width: 960px) and (orientation: landscape) and (max-width: 2960px) {
    #open,
    #close, 
    #side,
    #sidebar,
    div > span, 
    button, 
    .m-links, 
    .sidebar,
    .mat-sidenav-container::-webkit-scrollbar,
    .mat-sidenav-content::-webkit-scrollbar,
    .mat-sidenav-toolbar::-webkit-scrollbar,
    .blackBox .hoverBox,
    .ft-menu {
        display: none;
    }

    #title:hover,
    #login:hover,
    #header:hover,
    .hoverBox a:hover,
    h1,
    h3 {
        text-decoration: none;
        color: var(--color-secondary);
    }

    a {
        color: var(--color-primary);
        padding-right: 2vw;
    }
    
    .mat-sidenav-container,
    .mat-sidenav-content,
    .mat-sidenav-toolbar,
    #top {
        -ms-overflow-style: none;
    }

    .blackBox .hoverBox {
        background-color: var(--color-primary);
        position: fixed;
        top: 9vh;
        left: 0vw;
        width: 100vw;
        height: 60vh;
        overflow-x: hidden;
        z-index: var(--zindex-override);
    }
    
    .hoverBox img {
        padding-right: -5vw;
        width: 35vw;
        height: 40vh;
    }
    
    .hoverBox h1,
    .hoverBox img {
        padding-top: 0vh;
    }
    
    .hoverBox a {
        color: var(--color-tertiary);
        padding-top: 3vh;
    }

    a.top,
    div.field_cont {
        right: 0vw;
    }
    
    a.top{
        z-index: 2;
        display: flex;
    }
    
    div.field_cont {
        align-items: center;
        bottom: 0vh;
        width: 6vw;
    }
    
    .subs .field_cont:hover ~ .blackBox .hoverBox,
    .blackBox:hover .hoverBox {
        display: block;
    }

    div.hoverBox {
        justify-content: center;
    }
    
    div.subs .field_cont,
    div.field_cont,
    mat-toolbar {
        height: 9vh;
    }

    div.subs .field_cont,
    div.subs,
    a.top {
        justify-content: center;
        align-items: center;
    }
    
    div.subs {
        margin-left: 2vw;
        padding-right: 3vw;
    }
    
    h3 {
        padding-top: 2.5vh;
    }

    div.login,
    div.field_cont {
        justify-content: flex-end;
    }
    
    div.login {
        padding-right: 1vw;
    }

    .ft-title {
        padding-left: 2vw;
    }
}

@media (min-width: 2960.02px) and (orientation: landscape) {
    #open,
    #close, 
    #side,
    #sidebar,
    div > span, 
    button, 
    .m-links, 
    .sidebar,
    .mat-sidenav-container::-webkit-scrollbar,
    .mat-sidenav-content::-webkit-scrollbar,
    .mat-sidenav-toolbar::-webkit-scrollbar,
    .blackBox .hoverBox,
    .ft-menu {
        display: none;
    }

    #title:hover,
    #login:hover,
    #header:hover,
    .hoverBox a:hover,
    h1,
    h3 {
        text-decoration: none;
        color: var(--color-secondary);
    }

    a {
        color: var(--color-primary);
        padding-right: 2vw;
    }
    
    .mat-sidenav-container,
    .mat-sidenav-content,
    .mat-sidenav-toolbar {
        -ms-overflow-style: none;
    }
    
    .blackBox .hoverBox {
        background-color: var(--color-primary);
        position: fixed;
        top: 9vh;
        left: 0vw;
        width: 100vw;
        height: 60vh;
        overflow-x: hidden;
        z-index: var(--zindex-override);
    }
    
    .hoverBox img {
        padding-right: -8vw;
        width: 35vw;
        height: 40vh;
    }
    
    .hoverBox img {
        padding-top: 0vh;
    }
    
    .hoverBox a {
        color: var(--color-tertiary);
        padding-top: 5vh;
    }

    a.top,
    div.field_cont {
        right: 0vw;
    }
    
    a.top{
        z-index: 1;
        display: flex;
    }
    
    div.field_cont {
        align-items: center;
        bottom: 0vh;
        width: 6vw;
    }
    
    .subs .field_cont:hover ~ .blackBox .hoverBox,
    .blackBox:hover .hoverBox {
        display: block;
    }

    div.hoverBox {
        justify-content: center;
    }
    
    div.subs .field_cont,
    div.field_cont,
    mat-toolbar {
        height: 9vh;
    }

    div.subs .field_cont,
    div.subs,
    a.top {
        justify-content: center;
        align-items: center;
    }
    
    div.subs {
        margin-left: 2vw;
        padding-right: 3vw;
    }
    
    h3 {
        padding-top: 2.5vh;
    }

    div.login,
    div.field_cont {
        justify-content: flex-end;
    }
    
    div.login {
        padding-right: 1vw;
    }

    .ft-title {
        padding-left: 2vw;
    }

    .hoverBox h1,
    .hoverBox a,
    a,
    h1,
    h3 {
        font-size: 400%;
    }

    .hoverBox h1 {
        padding-top: 2vh;
    }

    .hoverBox h3 {
        padding-top: 4vh;
    }
}
