.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ft-title {
  margin-top: em;
}

.parent {
  background-color: #eee;
  margin: 0;
}

.container {
  height: 100%;
}

#wrapper {
  min-height: 100%;
}

.content {
  background-color: green;
}

#footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 1em;
}

html,
body {
  min-height: 100%;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  display: flex;
}
