<div fxLayout="column" fxFlexFill>
    <mat-sidenav-container fxFlex>
        <mat-sidenav #sidenav mode="over" (closedStart)="dummyButton.focus()">
            <ft-nav-menu-content [sideNav]="sidenav"></ft-nav-menu-content>
        </mat-sidenav>
        <mat-sidenav-content fxLayout="column">
            <mat-toolbar color="primary" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="start center" class="ft-toolbar">
                <button mat-icon-button (click)="sidenav.toggle();" class="ft-menu">
                    <mat-icon class="material-icons">menu</mat-icon>
                </button>
                <button #dummyButton style="color: transparent; background-color: transparent; border-color: transparent; cursor: default; outline: 0px;"></button>
                <div class="ft-title" fxFlex>
                    <span>Field Trainer</span>
                </div>
                <div>
                    <ft-status-indicator class="ft-status-indicator"></ft-status-indicator>
                </div>
            </mat-toolbar>
            <!-- REFER HERE: https://github.com/angular/flex-layout/issues/171 -->
            <router-outlet class="router-flex"></router-outlet>
            <!-- <div fxFlex style="background: grey"></div> -->
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>