<div fxLayout="column" fxFlex>
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-icon-button (click)="sidenav.toggle()" fxFlex="10%">
            <mat-icon class="material-icons">menu</mat-icon>
        </button>
        <div class="ft-title" fxFlex fxFlexOffset="5%">
            <span>{{currentPath()}}</span>
        </div>
        <div fxFlex>

        </div>
    </mat-toolbar>

    <mat-sidenav-container>
        <mat-sidenav #sidenav mode="over">
            <ft-nav-menu-content></ft-nav-menu-content>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>