<div fxLayout="column" fxFlexFill>
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-icon-button (click)="sidenav.toggle()" fxFlex="10%" style="background: blue">
            <mat-icon class="material-icons">menu</mat-icon>
        </button>
        <div class="ft-title" fxFlex="auto" style="background: red">
            <span>{{currentPath()}}</span>
        </div>
        <div style="background: green; float:right;">
            [X]
        </div>
    </mat-toolbar>
    <mat-sidenav-container fxFlex>
        <mat-sidenav #sidenav mode="over">
            <ft-nav-menu-content></ft-nav-menu-content>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>