/* Styling for the app-wide Toolbar which appears at the top */
.ft-toolbar {
    padding-right: 10px; /* default to 0px, allow sub elements to define their own margins */
}

/* Styling for menu button (hamburger menu) */
.ft-menu {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.ft-status-indicator {
    /* margin-right: 5em; */
}
