.ft-form-container {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

::ng-deep .mat-form-field .mat-form-field-infix {
    width: auto;
}

#submit:enabled {
    color: rgba(255, 255, 255, 1);
    background-color: var(--color-tertiary2);
}