<div fxLayout="row" class="ft-nav-menu-container">
    <a id="nhp" onclick="toolbarView()" routerLink="/field">Fields</a>
    <a id="nhp" onclick="toolbarView()" routerLink="/cone-page">The Cones</a>
    <a id="nhp" onclick="toolbarView()" routerLink="/app">The App</a>
    <a id="nhp" onclick="toolbarView()" routerLink="/academy">Academy</a>
    <div *ngIf="this.authService.isAuthenticated()">
        <a id="nhp" onclick="toolbarView()" routerLink="/team-management">Teams</a>
        <a id="nhp" onclick="toolbarView()" routerLink="/athlete-management">Athletes</a>
        <a id="nhp" onclick="toolbarView()" routerLink="training/results">Results</a>
    </div>
</div>
