div {
    justify-content: center;
    text-align: center;
}

a {
    padding-right: 25px;
    color: black;
}

/* unvisited link */
a:link {
    text-decoration: none;
  }

  /* visited link */
  a:visited {
    text-decoration: none;
  }

a:hover {
    text-decoration: none;
}

.background {
    background-image: url('https://storage.cloud.google.com/field-cone/wallpaperflare.com_wallpaper%20(1).jpg') !important;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    background: rgba(0,0,0,.5);
    overflow: hidden;
    -ms-overflow-style: none;
}

.background::-webkit-scrollbar {
    display: hidden;
}
