div {
    justify-content: center;
    text-align: center;
}

a {
    padding-right: 25px;
    color: "black";
}

/* unvisited link */
a:link {
    text-decoration: none;
  }

  /* visited link */
  a:visited {
    text-decoration: none;
  }

a:hover {
    text-decoration: none;
}

