<div fxLayout="row" class="ft-nav-menu-container">
    <div fxLayout="column">
        <mat-nav-list fxFlex>
            <h3 mat-subheader>Field Trainer</h3>
            <mat-list-item (click)="close()" routerLink="/home">
                <mat-icon matListIcon class="material-icons">home</mat-icon>
                <a mat-list-item>Home</a>
                <span fxFlex></span>
            </mat-list-item>
            <mat-list-item routerLink="/team-management" (click)="close()">
                <mat-icon matListIcon class="material-icons">group_work</mat-icon>
                <a mat-list-item>Manage Teams</a>
                <span fxFlex></span>
            </mat-list-item>
            <mat-list-item routerLink="/athlete-management" (click)="close()">
                <mat-icon matListIcon class="material-icons">people</mat-icon>
                <a mat-list-item>Manage Athletes</a>
                <span fxFlex></span>
            </mat-list-item>
            <mat-list-item routerLink="/cones" (click)="close()">
                <mat-icon matListIcon class="material-icons">build</mat-icon>
                <a mat-list-item>Cone Setup</a>
                <span fxFlex></span>
            </mat-list-item>
            <mat-list-item routerLink="/wifi-settings" (click)="close()">
                <mat-icon matListIcon class="material-icons">wifi</mat-icon>
                <a mat-list-item>WiFi Settings</a>
                <span fxFlex></span>
            </mat-list-item>
            <mat-list-item routerLink="/session-setup" (click)="close()">
                <mat-icon matListIcon class="material-icons">directions_run</mat-icon>
                <a mat-list-item>Start Session</a>
                <span fxFlex></span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Account</h3>
            <div *ngIf="!this.authService.isAuthenticated()">
                <mat-list-item routerLink="/login" (click)="close()">
                    <mat-icon matListIcon class="material-icons">input</mat-icon>
                    <a mat-list-item>Login</a>
                    <span fxFlex></span>
                </mat-list-item>
                <mat-list-item routerLink="/register" (click)="close()">
                    <mat-icon matListIcon class="material-icons">add_box</mat-icon>
                    <a mat-list-item>Register</a>
                    <span fxFlex></span>
                </mat-list-item>
            </div>
            <div *ngIf="this.authService.isAuthenticated()">
                <mat-list-item routerLink="/login" (click)="close()">
                    <mat-icon matListIcon class="material-icons">account_box</mat-icon>
                    <a mat-list-item>Switch User</a>
                    <span fxFlex></span>
                </mat-list-item>
                <mat-list-item routerLink="/sandbox" (click)="close()">
                    <mat-icon matListIcon class="material-icons">settings_applications</mat-icon>
                    <a mat-list-item>Sandbox (Dev)</a>
                    <span fxFlex></span>
                </mat-list-item>
            </div>
        </mat-nav-list>
    </div>
</div>
