<div fxLayout="row" class="ft-nav-menu-container">
    <mat-list-item routerLink="/home">
        <a>Home</a>
    </mat-list-item>
    <mat-list-item routerLink="/team-management">
        <a>Manage Teams</a>
    </mat-list-item>
    <mat-list-item routerLink="/athlete-management">
        <a>Manage Athletes</a>
    </mat-list-item>
    <mat-list-item routerLink="/cones">
        <a>Cone Setup</a>
    </mat-list-item>
    <mat-list-item routerLink="/wifi-settings">
        <a>WiFi Settings</a>
    </mat-list-item>
    <mat-list-item routerLink="/session-setup">
        <a>Start Session</a>
    </mat-list-item>
</div>
