div {
    justify-content: center;
    text-align: center;
}

a {
    padding-right: 25px;
    color: white;
}

/* unvisited link */
a:link {
    text-decoration: none;
  }

/* visited link */
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

black-box {
    display: none;
    background-color: black;
    padding: 100px;
}

a.field:hover + black-box{
    display: block;
}

.area {
    background:#fff;
    display:block;
    height:475px;
    opacity:0;
    position:absolute;
    width:320px;
}

#area2 {
    left: 320px;
}

#area1:hover, #area2:hover {
    opacity: 0.2;
}
