div {
    justify-content: center;
    text-align: center;
}

.background {
    background-image: url('../../../../assets/pexels-photo-2743739.jpeg') !important;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgba(0,0,0,.5);
    overflow: hidden;
    -ms-overflow-style: none;
}

.background::-webkit-scrollbar {
    display: hidden;
}

h1 {
    justify-content: center;
    text-align: center;
    color: white;
}

p {
    justify-content: center;
    text-align: center;
    color: white;
}
