<div fxLayout="column">
    <div fxFlex fxLayout="row" fxFlexAlign="center">
        <h1>Add Team</h1>
        <button mat-raised-button id="done" (click)="done()">Done</button>
    </div>
    <div id="fullForm" fxLayout="row" class="ft-add-team-container">
        <form id="form" #addTeamForm="ngForm" fxFlex fxLayout="column" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input
                    matInput
                    [(ngModel)]="teamModel.teamName"
                    placeholder="Team Name"
                    name="teamName"
                    type="text"
                    [formControl]="teamNameFormControl"
                    required
                />
                <mat-error *ngIf="teamNameFormControl.invalid">Name too short</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-select [(ngModel)]="teamModel.ageGroup" placeholder="Age Group" name="age-group" required>
                    <mat-option *ngFor="let ageGroup of ageGroups" [value]="ageGroup"> {{ ageGroup }} years old </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select [(ngModel)]="teamModel.teamGender" placeholder="Gender" name="teamGender" required>
                    <mat-option *ngFor="let gender of genders" [value]="gender"> {{ gender }} </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button id="submit" type="submit" [disabled]="!addTeamForm.form.valid" class="ft-add-team-submit">Submit</button>
        </form>
        <div id="pictureFrame" fxFlex fxLayout="column">
            <h1>PICTURE PLACEHOLDER</h1>
            <img id="picture" [src]="getImage()">
        </div>
    </div>
    <ngb-alert
        style="margin-left:1em;margin-right:1em;"
        [type]="this.alertType"
        *ngIf="this.alertShouldBeDisplayed"
        (click)="this.alertShouldBeDisplayed = false"
        >{{ this.alertMessage }}</ngb-alert
    >
</div>
