.ft-add-team-container {
    margin: 1.5em;
}

.ft-add-team-header {
    margin-left: 0.5em;
}

.ft-add-team-submit {
    margin-top: 2em;
}

.ft-add-team-age-group {
    margin-top: 1em;
}

#submit:enabled {
    background-color: var(--color-tertiary2);
    color: rgba(255, 255, 255, 1);
}
