/* .Cone {
    border: 1px solid #000000;
    width: 2em;
    height: 2em;
    text-align: center;
    margin: 0.25em;
    display: table;
    background-color: white;
}

.ConeInner {
    display: table-cell; 
    vertical-align: middle;
    user-select: none;
    background: white;
} */

.Cone {
    border: 1px solid #000000;
    font-size: 2em;
}

.Segment {
    border: 1px solid #000000;
    margin-inline-end: 0.5em;
    margin-top: 0.25em;
    padding: 0.5em;
}
