<h2 class="ft-page-header">
    Manage Teams
</h2>
<div fxLayout="column" style="margin-left: 1.5em; margin-right: 1.5em">
    <div fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="center center">
        <mat-form-field fxFlex>
            <mat-select (selectionChange)="onTeamChanged()" [placeholder]="this.getTeamDropdownPlaceholderText()" name="selectedTeam"
                [(ngModel)]="this.selectedTeam">
                <mat-option *ngFor="let team of availableTeams" [value]="team">
                    {{team.teamName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div fxFlex="10%">
            <button mat-icon-button (click)="addPlayer()">
                <mat-icon style="font-size: 2em; color: green;" class="material-icons">add_box</mat-icon>
            </button>
        </div>
    </div>
    <div fxFlex>
        <div fxLayout="row">
            <div fxFlex>
                <h3>On Team</h3>
                <perfect-scrollbar style="position: relative; max-height: 300px">

                    <div>
                        <mat-list role="listbox" *ngIf="this.selectedTeam !== null && this.selectedTeam.teamAthletes !== null">
                            <mat-list-item role="listitem" *ngFor="let player of this.selectedTeam.teamAthletes">
                                {{player.firstName}}
                            </mat-list-item>
                            <mat-list-item>Keaton</mat-list-item>
                            <mat-list-item>Keaton</mat-list-item>
                            <mat-list-item>Keaton</mat-list-item>
                            <mat-list-item>Keaton</mat-list-item>
                            <mat-list-item>Keaton</mat-list-item>
                            <mat-list-item>Keaton</mat-list-item>
                            <mat-list-item>Keaton</mat-list-item>
                            <mat-list-item>Keaton</mat-list-item>
                            <mat-list-item>Keaton</mat-list-item>
                            <mat-list-item>Keaton</mat-list-item>
                            <mat-list-item>Keaton</mat-list-item>
                            <mat-list-item>Keaton</mat-list-item>

                        </mat-list>
                    </div>
                </perfect-scrollbar>
            </div>
            <div fxFlex>
                <h3>Available</h3>
                <perfect-scrollbar style="position: relative; max-height: 300px">
                    <div>
                        <mat-list role="listbox">
                            <mat-list-item>Keaton</mat-list-item>
                            <mat-list-item>Keaton</mat-list-item>
                            <mat-list-item>Keaton</mat-list-item>
                            <mat-list-item>Keaton</mat-list-item>
                            <mat-list-item>Keaton</mat-list-item>
                            <mat-list-item>Keaton</mat-list-item>
                            <mat-list-item>Keaton</mat-list-item>
                            <mat-list-item>Keaton</mat-list-item>
                            <mat-list-item>Keaton</mat-list-item>
                            <mat-list-item>Keaton</mat-list-item>
                            <mat-list-item>Keaton</mat-list-item>
                            <mat-list-item>Keaton</mat-list-item>
                        </mat-list>
                    </div>
                </perfect-scrollbar>
            </div>
        </div>
    </div>
    <div fxFlex>
        THi is some
        <br /> Foot content
        <br /> that takes up some
        <br /> space that i am
        <br /> just testing out
        <br />
    </div>
</div>