<h2 class="ft-page-header">
    Manage Teams
</h2>
<div fxLayout="column" style="margin-left: 1.5em; margin-right: 0.5em">
    <div fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="center center">
        <mat-form-field fxFlex>
            <mat-select (selectionChange)="onTeamChanged()" [placeholder]="this.getTeamDropdownPlaceholderText()" name="selectedTeam"
                [(ngModel)]="this.selectedTeam">
                <mat-option *ngFor="let team of availableTeams" [value]="team">
                    {{team.teamName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div fxFlex="10%">
            <button mat-icon-button (click)="addPlayer()">
                <mat-icon style="font-size: 2em; color: green;" class="material-icons">add_box</mat-icon>
            </button>
        </div>
    </div>
    <ul *ngIf="this.selectedTeam !== null && this.selectedTeam.teamAthletes !== null">
        <li *ngFor="let player of this.selectedTeam.teamAthletes">
            {{player.firstName}}
        </li>
    </ul>
</div>