@media (max-width: 959.98px), (orientation: portrait) {
    #athletes {
        padding-left: 1vw;
        padding-right: 1vw;
        width: 100vw;
    }
}

@media (min-width: 960px) and (orientation: landscape) {
    #athletes {
        width: 30vw;
    }
}

.mat-expansion-panel {
    margin-bottom: 1vh;
}

#addButton {
    color: green;
    padding-left: 1vw;
    border: none;
    outline: none;
    cursor: pointer;
}

button:active,
button:focus,
button:active:focus {
    border: none !important;
    outline: none !important;
    outline-style: none !important;
    text-decoration: none !important;
}