<div fxLayout="column" fxFlex>
    <h1 fxFlex="0 0 auto" fxFlexAlign="center">Athlete Management</h1>
    <div fxFlex *ngIf="this.athletes.length !==0" style="margin-left: 1em; margin-right: 1em;">
        <perfect-scrollbar fxFlex="auto">
            <mat-accordion *ngFor="let athlete of this.athletes">
                <ft-team-management-athlete [athlete]="athlete" [mode]="'remove'" (removed)="this.onAthleteRemoved($event)">

                </ft-team-management-athlete>
            </mat-accordion>
        </perfect-scrollbar>
    </div>
    <div fxFlex="1 1 auto" fxFlexAlign="center" *ngIf="this.athletes.length===0">
        <span class="mat-body-1">No athletes added yet, add them below</span>
    </div>
    <div fxFlex="0 0 auto" fxFlexAlign="center" style="margin-bottom: 3em">
        <button mat-raised-button color="primary" (click)="this.addAthlete()">Add Athlete</button>
    </div>
</div>