<button class="startButton" md-raised-button color="primary">Start Session</button>
<div class="headerContainer">
    <span class="header">Player Session Details</span>


    <!-- <md-list>
        <md-list-item *ngFor="let player of players_in_queue">
            {{player}}
        </md-list-item>
    </md-list> -->
    <br />
    <br />
    <span class="statusLayout">Keaton</span>
    <div fxLayout="row" fxLayoutWrap class="statusLayout">
        <span class="Cone">1</span>
        <span class="Cone">1</span>
        <span class="Cone">1</span>
        <span class="Cone">1</span>
        <span class="Cone">1</span>
        <span class="Cone">1</span>
        <span class="Cone">1</span>
        <span class="Cone">1</span>
        <span class="Cone">1</span>
        <span class="Cone">1</span>
        <span class="Cone">1</span>
        <span class="Cone">1</span>
        <span class="Cone">1</span>
        <span class="Cone">1</span>
        <span class="Cone">1</span>
        <span class="Cone">1</span>
        <span class="Cone">1</span>
        <span class="Cone">1</span>
    </div>
    <span class="statusLayout">T Brady</span>
    <div fxLayout="row" fxLayoutWrap class="statusLayout">
            <span class="Cone">1</span>
            <span class="Cone">1</span>
            <span class="Cone">1</span>
            <span class="Cone">1</span>
            <span class="Cone">1</span>
            <span class="Cone">1</span>
            <span class="Cone">1</span>
            <span class="Cone">1</span>
            <span class="Cone">1</span>
            <span class="Cone">1</span>
            <span class="Cone">1</span>
            <span class="Cone">1</span>
            <span class="Cone">1</span>
            <span class="Cone">1</span>
            <span class="Cone">1</span>
            <span class="Cone">1</span>
            <span class="Cone">1</span>
            <span class="Cone">1</span>
        </div>
</div>

<button id="footer" md-raised-button color="primary" routerLink="/setup">Go back (debug)</button>
