div {
    justify-content: center;
    text-align: center;
}

img {
    background-image: url('../../../../assets/academic.jpg') !important;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: -1;
    bottom: -1;
    left: -1;
    right: -1;
    z-index: -1;
    filter: brightness(80%);
    background: rgb(0, 0, 0, 0.5);
    overflow: hidden;
    -ms-overflow-style: none;
}

.background::-webkit-scrollbar {
    display: hidden;
}

h1 {
    justify-content: center;
    text-align: center;
    color: white;
}

p {
    justify-content: center;
    text-align: center;
    color: white;
}
