<div fxLayout="column" fxLayoutAlign="space-between center" fxFlex>
    <div fxLayout="column" fxLayoutAlign="top center" style="padding-top: 100px" class="background">
        <h1 style="text-align: center">Academy Page is Currently Being Developed!</h1>
        <div fxFlexAlign="center" style="justify-content: center;" class="mat-body-1">
            <p>Check Back for More Updates :)</p>
        </div>
        <image id="background-image">
            <source src="../../../../assets/674183792.jpg" type="image/jpg">
        </image>
    </div>
</div>
