<div fxLayout="column" class="ft-nav-menu-container">
    <a (click)="reload()" routerLink="/cone-page">The Cones</a>
    <a (click)="reload()" routerLink="/app">The App</a>
    <a (click)="reload()" routerLink="/academy">Academy</a>
    <div fxLayout="column" class="auth" *ngIf="this.authService.isAuthenticated()">
        <a (click)="reload()" routerLink="/team-management">Teams</a>
        <a (click)="reload()" routerLink="/athlete-management">Athletes</a>
        <a (click)="reload()" routerLink="training/results">Results</a>
    </div>
</div>