@media (min-width: 2960.02px) and (orientation: landscape) {
    a {
        font-size: 400%;
        margin-right: 1vw;
    }
}

div.ft-nav-menu-container {
    justify-content: center;
    text-align: left;
    margin-top: 25vh;
}

a {
    padding-bottom: 25px;
    color: var(--color-tertiary);
}

/* unvisited link */
a:link {
    text-decoration: none;
  }

/* visited link */
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: var(--color-secondary);
}

.area {
    background: var(--color-quaternary);
    display:block;
    height:475px;
    opacity:0;
    position:absolute;
    width:320px;
}

#area2 {
    left: 320px;
}

#area1:hover, #area2:hover {
    opacity: 0.2;
}
