<div fxLayout="column" fxFlex class="ft-add-athlete-container">
    <h1 fxFlex="0 0 auto" fxFlexAlign="center">Add Athlete</h1>
    <form id="form" fxLayout="column" fxFlex fxLayoutGap="3%" #addAthleteForm="ngForm" (ngSubmit)="onSubmit()">
        <div id="forms" fxFlex="0 0 auto" fxLayout="row wrap" fxLayoutGap="2%">
            <mat-form-field fxFlex="48%">
                <input matInput [(ngModel)]="this.athlete.firstName" placeholder="First Name" name="firstName" type="text" required />
            </mat-form-field>
            <mat-form-field fxFlex="48%">
                <input matInput [(ngModel)]="this.athlete.lastName" placeholder="Last Name" name="lastName" type="text" required />
            </mat-form-field>
            <mat-form-field fxFlex="48%">
                <input matInput [(ngModel)]="this.athlete.email" placeholder="Email" name="email" type="email"/>
            </mat-form-field>
            <mat-form-field fxFlex="48%">
                <input matInput [(ngModel)]="this.athlete.phoneNumber" placeholder="Phone" name="phoneNumber" type="tel"/>
            </mat-form-field>

            <mat-form-field fxFlex="48%">
                <mat-select [(ngModel)]="this.athlete.gender" placeholder="Gender" name="gender" required>
                    <mat-option *ngFor="let gender of genders" [value]="gender"> {{ gender }} </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="48%">
                <input matInput [(ngModel)]="this.athlete.weight" placeholder="Weight" name="weight" type="number" required />
            </mat-form-field>
            <mat-form-field fxFlex="48%">
                <input matInput [(ngModel)]="this.athlete.height" placeholder="Height (inches)" name="height" type="number" required>
            </mat-form-field>
            <mat-form-field fxFlex="48%">
                <mat-select [(ngModel)]="this.athlete.ageGroup" placeholder="Age Group" name="ageGroup" required>
                    <mat-option *ngFor="let age of ageGroups" [value]="age"> {{ age }} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div id="forms" fxFlex="0 0 auto" fxLayout="row">
            <div fxFlex fxLayout="column">
                <span fxFlex="0 0 auto" class="ft-parent-header">Parent 1</span>
                <mat-form-field id="field" fxFlex="48%">
                    <input matInput [(ngModel)]="this.athlete.parent1Name" placeholder="Name" name="parent1Name" type="text" />
                </mat-form-field>
                <mat-form-field id="field" fxFlex="48%">
                    <input matInput [(ngModel)]="this.athlete.parent1Phone" placeholder="Phone" name="parent1Phone" type="tel" />
                </mat-form-field>
                <mat-form-field id="field" fxFlex="48%">
                    <input matInput [(ngModel)]="this.athlete.parent1Email" placeholder="Email" name="parent1Email" type="email" />
                </mat-form-field>
            </div>
            <div fxFlex fxLayout="column">
                <span fxFlex="0 0 auto" class="ft-parent-header">Parent 2</span>
                <mat-form-field id="field" fxFlex="48%">
                    <input matInput [(ngModel)]="this.athlete.parent2Name" placeholder="Name" name="parent2Name" type="text" />
                </mat-form-field>
                <mat-form-field id="field" fxFlex="48%">
                    <input matInput [(ngModel)]="this.athlete.parent2Phone" placeholder="Phone" name="parent2Phone" type="tel" />
                </mat-form-field>
                <mat-form-field id="field" fxFlex="48%">
                    <input matInput [(ngModel)]="this.athlete.parent2Email" placeholder="Email" name="parent2Email" type="email" />
                </mat-form-field>
            </div>
        </div>
        <div fxFlex="0 0 auto" fxLayout="column" fxFlexAlign="flex-end">
            <button id="submit" fxFlex="0 0 auto" mat-raised-button [disabled]="addAthleteForm.invalid" type="submit" (submit)="onSubmit()">
                Submit
            </button>
        </div>
    </form>
</div>
