.ft-add-athlete-container {
    margin-top: 1.5em;
    margin-left: 15vw;
    margin-right: 15vw;
}

.ft-add-athlete-header {
    margin-left: 0.5em;
}

.ft-add-athlete-submit {
    margin-top: 2em;
}

.ft-parent-header {
    font-size: 1.5em;
}

#submit {
    width: 10vw;
    margin-right: 2vw;
}

#field {
    width: 96%;
}

#submit:enabled {
    background-color: var(--color-tertiary2);
    color: rgba(255, 255, 255, 1)
}
