<form #loginForm="ngForm" (ngSubmit)="login()" fxLayout="column" class="login-container">
    <mat-form-field fxFlex>
        <input [(ngModel)]="this.email" matInput placeholder="Email" name="email" required />
        <mat-error *ngIf="emailFormControl.invalid">Email required</mat-error>
    </mat-form-field>
    <mat-form-field fxFlex>
        <input [(ngModel)]="this.password" matInput type="password" placeholder="Password" name="password" required />
        <mat-error *ngIf="passwordFormControl.invalid">Password required</mat-error>
    </mat-form-field>
    <div fxLayout="row center" fxLayoutAlign="center center">
        <div fxFlex class="button-container">
            <button mat-raised-button color="primary" class="login-form-buttons" type="submit" [disabled]="!loginForm.form.valid || this.loginInProgress">
                Submit
            </button>
        </div>
        <div fxFlex class="button-container">
            <button mat-raised-button color="primary" class="login-form-buttons" (click)="register()">Register</button>
        </div>
    </div>
    <br />
    <div fxLayout="column" fxLayoutAlign="center center">
        <ngb-alert [type]="this.alertType" *ngIf="this.alertShown" (click)="this.alertShown = false">{{ this.errorMessage }}</ngb-alert>
    </div>
</form>
