.login-container {
    margin-left: 3em;
    margin-right: 3em;
}

h1 {
    text-align: center;
}

.register-link {
    text-align: center;
}

.login-form-buttons {
    width: 90%;
    height: 90%;
}

.button-container {
    text-align: center;
}

.ngb-alert {
    background-color: #aaa;
    color: black;
    border: 1px solid #aaa;
    width: 250px;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
}
