.Cone {
    border: 1px solid #000000;
    width: 2em;
    height: 2em;
    text-align: center;
    margin: 0.25em;
    display: table;
    background-color: white;
}

.ConeInner {
    display: table-cell; 
    vertical-align: middle;
}