<!-- <div fxLayout="column">
    <div fxFlex>
        <p class="copy-text">
            Welcome to FieldTrainer!
        </p>
        <p class="copy-text"> From this page you can navigate to the main components of the app
        </p>
    </div>
</div> -->
<div fxFlex fxLayout="column" fxLayoutAlign="stretch">
    <div fxFlex="0 0 auto" style="background: red">
        This
        <br/> Is some content taking 10-15% at the top
    </div>
    <div fxFlex fxLayout="column" style="background: green">
        <h4>Title</h4>
        <perfect-scrollbar fxFlex="auto">
            <div>
                Hello
                <br /> Hello
                <br /> Hello
                <br /> Hello
            </div>
        </perfect-scrollbar>
    </div>
    <div fxFlex fxLayout="column" style="background: blue">
        <h4>Title2</h4>
        <perfect-scrollbar fxFlex="auto">
            <div>
                Hello
                <br /> Hello
                <br /> Hello
                <br /> Hello
            </div>
        </perfect-scrollbar>
    </div>
</div>