<mat-card style="margin: 0.5em">
    <mat-card-title>Field Cone</mat-card-title>
    <mat-card-subtitle>{{ coneInfo.ip }}</mat-card-subtitle>
    <mat-card-content fxLayout="column">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span style="font-size: 1.2em">Cone ID: {{ coneInfo.id }}</span>
            <span style="font-size: 0.8em">Avg Latency: {{ this.getAverageLatency() }} ms</span>
            <span style="font-size: 0.8em">Last Latency: {{ this.getLastLatency() }} ms</span>
        </div>
        <div fxFlex style="margin-top: 0.5em" fxLayout="row" fxLayoutAlign="space-around center">
            <mat-form-field fxFlex="15%">
                <input matInput placeholder="New ID" [(ngModel)]="newId" />
            </mat-form-field>
            <button fxFlex="30%" mat-raised-button color="primary" (click)="changeId()">Change ID</button>
            <button fxFlex="30%" mat-raised-button color="primary" (click)="makeNoise()">Make Noise</button>
        </div>
    </mat-card-content>
</mat-card>
