<mat-card style="margin: 0.5em">
    <mat-card-title>Field Cone</mat-card-title>
    <mat-card-subtitle>IP: {{ coneInfo.ip }}</mat-card-subtitle>
    <mat-card-content fxLayout="column">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span style="font-size: 1.2em">Cone ID: {{ coneInfo.id }}</span>
            <span style="font-size: 0.8em">Avg Latency: {{ this.getAverageLatency() }} ms</span>
            <span style="font-size: 0.8em">Last Latency: {{ this.getLastLatency() }} ms</span>
        </div>
        <div fxFlex style="margin-top: 0.5em" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex="60%" fxLayoutAlign="start center" fxLayout="row">
                <mat-form-field fxFlex="33%" style="margin-right: 0.25em">
                    <input matInput placeholder="New ID" [(ngModel)]="newId" />
                </mat-form-field>
                <button fxFlex="66%" mat-raised-button color="primary" (click)="changeId()">Change ID</button>
            </div>
            <button fxFlex="0 0 auto" mat-raised-button color="primary" (click)="makeNoise()">Make Noise</button>
            <button fxFlex="0 0 auto" mat-raised-button color="primary" (click)="makeMove()">Test Accel</button>
        </div>
        <span fxFlex="0 0 auto">{{ getVersionString() }}</span>
        <div fxFlex style="margin-top: 0.5em" fxLayout="row" fxLayoutAlign="space-around center">
            <button fxFlex mat-raised-button color="warn" (click)="update()">Update</button>
        </div>
    </mat-card-content>
</mat-card>
