<h2 class="ft-add-team-header">
    Add a Team
</h2>

<div fxLayout="row" class="ft-add-team-container">
    <form #addTeamForm="ngForm" fxFlex fxLayout="column" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput [(ngModel)]="addTeamData.teamName" placeholder="Team Name" name="teamName" type="text" [formControl]="teamNameFormControl"
                required/>
            <mat-error *ngIf="teamNameFormControl.invalid">Name too short</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-select [(ngModel)]="addTeamData.ageGroup" placeholder="Age Group" name="age-group" required>
                <mat-option *ngFor="let ageGroup of ageGroups" [value]="ageGroup">
                    {{ageGroup}} years old
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select [(ngModel)]="addTeamData.teamgender" placeholder="Gender" name="teamGender" required>
                <mat-option *ngFor="let gender of genders" [value]="gender">
                    {{gender}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- 
        <mat-radio-group [(ngModel)]="addTeamData.teamGender" class="ft-add-team-age-group" name="teamGender" fxLayout="row" color="primary">
            <mat-radio-button fxFlex color="primary" value="Female">Female</mat-radio-button>
            <mat-radio-button fxFlex color="primary" value="Male">Male</mat-radio-button>
        </mat-radio-group> -->
        <button mat-raised-button color="primary" type="submit" [disabled]="!addTeamForm.form.valid" class="ft-add-team-submit">Submit</button>
    </form>
    <div fxFlex>
        PICTURE PLACEHOLDER
    </div>
</div>