a {
    color: white;
    padding-right: 25px;
}

a:hover {
    text-decoration: none;
}

.mat-sidenav-container {
    -ms-overflow-style: none;
}

.mat-sidenav-container::-webkit-scrollbar {
    display: none;
}

.mat-sidenav-content {
    -ms-overflow-style: none;
}

.mat-sidenav-content::-webkit-scrollbar {
    display: none;
}

.mat-sidenav-toolbar {
    -ms-overflow-style: none;
}

.mat-sidenav-toolbar::-webkit-scrollbar {
    display: none;
}

div.blackBox {
    background-color: rgb(0, 0, 0);
    padding: 100px;
    width: 100vw;
    display: none;
}

a.sub:hover + div.blackBox {
    display: block;
    position: fixed;
}

div.subs {
    justify-content: center;
}
