a {
    color: black;
    padding-right: 25px;
}

a:hover {
    text-decoration: none;
}

.mat-sidenav-container {
    -ms-overflow-style: none;
}

.mat-sidenav-container::-webkit-scrollbar {
    display: none;
}

.mat-sidenav-content {
    -ms-overflow-style: none;
}

.mat-sidenav-content::-webkit-scrollbar {
    display: none;
}

.mat-sidenav-toolbar {
    -ms-overflow-style: none;
}

.mat-sidenav-toolbar::-webkit-scrollbar {
    display: none;
}

.alert-message {
    background-color: #aaa;
    color: black;
    border: 1px solid #aaa;
    width: 250px;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
}
