a {
    color: white;
    padding-right: 25px;
}

a:hover {
    text-decoration: none;
}

.mat-sidenav-container {
    -ms-overflow-style: none;
}

.mat-sidenav-container::-webkit-scrollbar {
    display: none;
}

.mat-sidenav-content {
    -ms-overflow-style: none;
}

.mat-sidenav-content::-webkit-scrollbar {
    display: none;
}

.mat-sidenav-toolbar {
    -ms-overflow-style: none;
}

.mat-sidenav-toolbar::-webkit-scrollbar {
    display: none;
}

.main_nav, .dropdown {
    background: #111111;
    background: rgba(17, 17, 17, 0.9);
    clear: both;
    transition: all .3s linear;
    animation: fadeIn .3s linear none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
