/* Styling for the app-wide Toolbar which appears at the top */
.ft-toolbar {
    padding-right: 10px; /* default to 0px, allow sub elements to define their own margins */
}

/* Styling for menu button (hamburger menu) */
.ft-menu {
    margin-right: 0.5em;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
}
