a {
    color: "primary";
    padding-right: 25px;
}

a:hover {
    text-decoration: none;
}

.mat-sidenav-container {
    -ms-overflow-style: none;
}

.mat-sidenav-container::-webkit-scrollbar {
    display: none;
}

.mat-sidenav-content {
    -ms-overflow-style: none;
}

.mat-sidenav-content::-webkit-scrollbar {
    display: none;
}

.mat-sidenav-toolbar {
    -ms-overflow-style: none;
}

.mat-sidenav-toolbar::-webkit-scrollbar {
    display: none;
}
