<mat-expansion-panel hideToggle="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            My Cones
        </mat-panel-title>
        <mat-panel-description>
            Expand to see cones
        </mat-panel-description>
    </mat-expansion-panel-header>

    <cone-list></cone-list>
</mat-expansion-panel>

<mat-expansion-panel hideToggle="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Players
        </mat-panel-title>
        <mat-panel-description>
            Modify players to start
        </mat-panel-description>
    </mat-expansion-panel-header>

    <players>
        
    </players>
</mat-expansion-panel>
<br />
<div class="centeredButton">
    <button mat-raised-button color="primary" class="startButton" routerLink="/session">Start!</button>
</div>