<div class="ft-athlete-select-page-container" fxFlex fxLayout="column" style="margin-left: 1em; margin-right: 1em;">
    <h1 fxFlex="0 0 auto" fxFlexAlign="center">Select Athletes</h1>
    <div fxFlex="0 0 auto">
        <mat-form-field fxFlex>
            <mat-select (selectionChange)="onTeamChanged()" placeholder="Select a team to start training" name="selectedTeam" [(ngModel)]="this.selectedTeam">
                <mat-option *ngFor="let team of availableTeams" [value]="team">
                    {{team.teamName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxFlex class="ft-athlete-container">
        <perfect-scrollbar fxFlex="auto" *ngIf="this.selectedTeam && this.selectedTeam.teamAthletes">
            <div *ngFor="let athlete of this.selectedTeam.teamAthletes">
                <ft-athlete [model]="athlete" (moveUp)="this.onMoveAthleteUp($event)" (moveDown)="this.onMoveAthleteDown($event)" (setInactive)="this.onSetAthleteInactive($event)"></ft-athlete>
            </div>
        </perfect-scrollbar>
    </div>
</div>