div {
    justify-content: center;
    text-align: center;
}

.background {
    background-image: url('https://storage.cloud.google.com/field-cone/20526938.jpg') !important;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    background: rgba(0,0,0,.5);
    overflow: hidden;
    -ms-overflow-style: none;
}

.background::-webkit-scrollbar {
    display: hidden;
}

h1 {
    justify-content: center;
    text-align: center;
    color: white;
}

p {
    justify-content: center;
    text-align: center;
    color: white;
}
